/*全局设置*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, textarea, p, blockquote, th, td, hr, button, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
img {
	border: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

/*主logo*/
.logo {
	width: 320px;
	height: 238px;
	padding: 22px 0 16px;
	margin: 0px auto;
}

.logo img {
	width: 320px;
	height: 238px;
}

/*立即安装按钮*/
.lijianzhuang {
	display: block;
	width: 230px;
	height: 46px;
	margin: 0 auto;
}

.lijianzhuang img {
	width: 230px;
	height: 46px;
	border-radius: 23px;
}

/*提示文字*/
.tishi {
	color: #87949f;
	font-size: 10px;
	text-align: center;
	padding: 10px 0 35px;
}

/*主题图片*/
.zhuti {
	display: block;
	width: 320px;
	margin: 0 auto;
}

/*列表*/
.list {
	padding: 31px 0 14px;
	width: 320px;
	margin: 0 auto;
}

.list li {
	padding-left: 44px;
	padding-bottom: 16px;
	overflow: hidden;
}

.list li img {
	width: 64px;
	height: 64px;
	float: left;
}

.list .biaotitxt {
	float: left;
	padding-left: 14px;
}

.biaotitxt h1 {
	font-size: 13px;
	color: #3a4048;
	font-weight: normal;
	padding: 14px 0 11px;
}

.biaotitxt p {
	font-size: 11px;
	color: #87949f;
}

/*网页底部*/
footer {
	clear: both;
	font-size: 10px;
	color: #87949f;
	text-align: center;
	padding: 10px 0;
	line-height: 1.5em;
	background: #f9f9f9;
}